{% extends "partials/accounts_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
 
               <div class=" col-md-5">
                  <div class="card">
                    <div class="card-header text-center">
                        <h1>{% trans "Sign In" %} </h1>
                        <H5>Secure High School</H5>
                    </div>
                    <div class="card-body">
                        {% if not SOCIALACCOUNT_ONLY %}
                            {% setvar link %}
                                <a href="{{ signup_url }}">
                            {% endsetvar %}
                            {% setvar end_link %}
                                </a>
                            {% endsetvar %}
                           
                            {% url 'account_login' as login_url %}
                            <form method="post" action="{{ login_url }}">
                                {% csrf_token %}
                                {{ form|crispy }}
                                {{ redirect_field }}
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
                                </div>
                            </form>
                        {% endif %}
                        {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                            <hr>
                            <div class="d-grid gap-2">
                                {% if PASSKEY_LOGIN_ENABLED %}
                                    <button type="submit" form="mfa_login" id="passkey_login" class="btn btn-outline-primary">{% trans "Sign in with a passkey" %}</button>
                                {% endif %}
                                {% if LOGIN_BY_CODE_ENABLED %}
                                    <a href="{{ request_login_code_url }}" class="btn btn-outline-primary">{% trans "Mail me a sign-in code" %}</a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if SOCIALACCOUNT_ENABLED %}
                            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
