{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="col-8 offset-md-1 rounded px-5 py-2 shado  bg1">
        <h5 class="text-center ">Student Profile of : <span class="text-secondary">{{ student }}</span> </h2>
       
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container p-3">
                <!-- Gender and Grade Level -->
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        <label for="gender" class="form-label">Gender</label>
                        {{ form.gender }}
                    </div>
                    <div class="col-md-6">
                        <label for="grade_level" class="form-label">Grade Level</label>
                        {{ form.grade_level }}
                    </div>
                </div>
        
                   <!-- Date of Birth -->
                   <div class="mb-3">
                    <label for="date_of_birth" class="form-label">Date of Birth</label>
                    {{ form.date_of_birth }}
                    {% if form.date_of_birth.errors %}
                        <div class="text-danger">
                            {{ form.date_of_birth.errors }}
                        </div>
                    {% endif %}
                </div>
                <!-- Date of Birth -->
                <div class="mb-3">
                    <label for="student_photo" class="form-label">student_photo</label>
                    {{ form.student_photo }}
                </div>
        
                <!-- Address -->
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    {{ form.address }}
                </div>
        
                <!-- Guardian Information -->
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        <label for="guardian_name" class="form-label">Guardian Name</label>
                        {{ form.guardian_name }}
                    </div>
                    <div class="col-md-6">
                        <label for="guardian_number" class="form-label">Guardian Phone Number</label>
                        {{ form.guardian_number }}
                    </div>
                </div>
                
                <!-- Guardian Email -->
                <div class="mb-3">
                    <label for="guardian_email" class="form-label">Guardian Email</label>
                    {{ form.guardian_email }}
                </div>
        
                <!-- Submit Button -->
                 <div class="d-grid">
                     <button type="submit" class="btn bg3 text-info">Save Student Profile</button>
                 </div>
               
            </div>
        </form>
    </div>
</div>
{% endblock %}
