{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-6 offset-2 rounded p-5  border shado mt-5 ">
    <h2 class="text-center  ">Create ClassRoom </h2>
      <hr class="text-success">
        <form method="post">
            {% csrf_token %}
                {{ form|crispy}}
            <div class="d-grid">
                <button type="submit" class="btn btn-dark ">Create Class</button>
            </div>
            
        </form>
</div>

{% endblock %}
