{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="col-8 offset-md-2 rounded p-5 shado  bg1">
        <h5 class="text-center ">Student Profile of : <span class="text-secondary">{{ student }}</span> </h2>
        <hr class="text-primary">
        <form method="post" action="">
            {% csrf_token %}
            <div class="container p-3">
                <!-- Gender and Grade Level -->
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        <label for="gender" class="form-label">Gender</label>
                        {{ form.gender }}
                    </div>
                    <div class="col-md-6">
                        <label for="grade_level" class="form-label">Grade Level</label>
                        {{ form.grade_level }}
                    </div>
                </div>
        
                <!-- Date of Birth -->
                <div class="mb-3">
                    <label for="date_birth" class="form-label">Date of Birth</label>
                    {{ form.date_of_birth }}
                </div>
        
                <!-- Address -->
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    {{ form.address }}
                </div>
        
                <!-- Guardian Information -->
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        <label for="guardian_name" class="form-label">Guardian Name</label>
                        {{ form.guardian_name }}
                    </div>
                    <div class="col-md-6">
                        <label for="guardian_number" class="form-label">Guardian Phone Number</label>
                        {{ form.guardian_number }}
                    </div>
                </div>
                
                <!-- Guardian Email -->
                <div class="mb-3">
                    <label for="guardian_email" class="form-label">Guardian Email</label>
                    {{ form.guardian_email }}
                </div>
        
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
