{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mt-5">
   <div class="row justify-content-center">
    <div class="col-8 rounded p-5 shado p-3 bg1">
        <h2 class="text-center text-danger">Edit Student Profile </h2>
        <hr class="text-primary">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <hr class="text-primary">
            <button type="submit" class="btn btn-danger">Next  &raquo;</button>
       </form>
    </div>
  </div>
</div>
 
{% endblock %}