{% extends "partials/base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
    <div class="container-fluid  w-75 offset-md-2 mt-3 scroll-container">
        <h1 class="mb-1">Student Profile</h1>
        <!-- Display StudentProfile details -->
          <div class="row">
           
            <div class="col">
               
                  <h5 class="card-title text-success">Profile Details</h5>
              <div class="d-flex ">
                <div class="col  p-2"><strong>Name:</strong> <span class="text-secondary"> {{ student_profile.student.get_full_name }}</span></p></div><p>
                <div class="col  p-2"><p><strong>Gender:</strong> <span class="text-secondary">{{ student_profile.gender }}</span></p></div> 
              </div>
              <div class="d-flex">    
                <div class="col p-2"><p><strong>Grade Level:</strong> <span class="text-secondary" >{{student_profile.grade_level}}</span></p></div>
                <div class="col p-2"><p><strong>Class:</strong> <span class="text-secondary" >{{ student_profile.assigned_class }}</span></p></div>
                   
             </div>
                <p>
                   <strong>Subjects:</strong>
                    {% for subject in student_profile.subjects.all %}
                    <span class="badge bg3">{{subject}}</span> {% if not forloop.last %}, {% endif %}{% endfor %}
                </p>
                <p><strong>Date of Birth:</strong> <span class="text-secondary" >{{ student_profile.date_of_birth }}</span></p>
                <p><strong>Address:</strong> <span class="text-secondary" >{{ student_profile.address }}</span></p>
            </div>
            <div class="col">
                <img src="{{ student_profile.student_photo.url }}"width="150" alt="student photo">
            </div>
         </div>
                <!-- Display GuardianProfile details if available -->
            <div class="mt-4">
                <h5 class="card-title text-danger">Guardian Details</h5>
                <p> <strong>Guardian Name:</strong><span class="text-secondary" > {{ student_profile.guardian_name }}</span></p>
                <p> <strong>Contact Number:</strong> <span class="text-secondary" > {{ student_profile.guardian_number }}</span></p>
                <p> <strong>Email:</strong> <span class="text-secondary" > {{ student_profile.guardian_email }}<span></p>
                <p> <strong>Guardian Address:</strong> <span class="text-secondary" > {{ student_profile.address }}<span></p>
            </div>
            <div>
                <a href="{% url 'student_registration' %}">
                   <button class="btn bg3 text-info">Register another Student</button>
                </a>
                <a href="{% get_dashboard_url user %}">
                   <button class="btn bg3 text-info">Dashboard</button>
                </a>
                <a href="{% url 'edit_student_profile' student_profile.pk %}">
                    <button class="btn bg3 text-warning">Edit student profile</button>
                 </a>
                 <a href="{% url 'transfer_student' student_profile.pk %}">
                    <button class="btn bg3 text-danger">Transfer this Student</button>
                 </a>
                 <h2>Join an Extracurricular Activity</h2>
                 <a href="{% url 'join_activity' student_profile.id %}">Join Activity</a>
            </div>
        </div>
        
    </div>
    
{% endblock %}
