{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
 
    <div class="row   ">
       <div class="col-md-6 offset-2 rounded p-5  bg1  mt-5 ">
          <h2 class="text-primary text-center">Student Registration </h2>
            <hr class="text-primary">
            <form method="post">
                {% csrf_token %}
                  {{ form|crispy}}
                 
                  <hr class="text-primary">
                <button type="submit" class="btn btn-primary">Register &raquo;</button>
            </form>
       </div>
     </div>
   </div>
{% endblock %}