
<nav class=" position-fixed  mb-5"  style="height: 100px; width: 85%;">
    <h1 class="display-3 pirata"> Secure High School </h1>
    <br>
    <div class="bg3 p-1 d-flex justify-content-end " style="width: 100%;">
        <span class="text-warning">{{ request.user }}&nbsp;&nbsp; </span>
        <a href="{% url 'login' %}" class="text-white me-3"><span class="badge bg-info">Login</span> </a>
        <a href="{% url 'account_logout' %}" class="text-white me-3"><span class="badge bg-info">Logout</span></a>
    </div>
    <div class="bg-secondary">.</div> 
</nav>
 