{% load custom_tags %}
<nav class=" position-fixed w-100 " style="height: 100px; ">
    <h1 class="display-2 text-primary "> Secure High School </h1>
    <br>
    <div class="bg-dark p-1 d-flex justify-content-end" style="width: 90%;">
        <span class="text-warning">{{ request.user }}&nbsp;&nbsp; </span>
        <a href="{% url 'login' %}" class="text-white me-3"><span class="badge bg-info">Login</span> </a>
        <a href="{% url 'logout' %}" class="text-white me-3"><span class="badge bg-info">Logout</span></a>
    </div>
    <a href="{% get_dashboard_url user %}" class="text-dark nav-link"> Dashboard</a>
    
</nav>
 