<h1 class="visually-hidden">Sidebars examples</h1>

{% load custom_tags %}

<div class="d-flex flex-column flex-shrink-0 p-3   sidebar fixed" style="width: 280px; height: 100vh;">
  
   {% if request.user.is_authenticated %}
                {% if schoolprofile %}
                    {% if schoolprofile.school_logo %}
                        <img src="{{ schoolprofile.school_logo.url }}" alt="{{ schoolprofile.school }}" class="img-fluid" style="max-height: 250px;">
                    {% else %}
                        {{ schoolprofile.school }}
                    {% endif %}
                {% else %}
                    My School 
                {% endif %}
            {% else %}
                My School 
            {% endif %}
            {{request.user}}
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
   
   
   
     
   
    
  </div>
</div>