{% extends "partials/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
<div class=" p-5 mt-5 shado bg1" >
   <a href="{% url 'grade_level' %}" class="btn bg3 text-warning"> Create Grade Levels</a>
    <h1>Distric admin dasboard</h1> 
    <div class="container d-flex gap-3">
        
        <div class="col bg1 rounded  p-2">
            <h3>Schools 15</h3>
        </div>
        <div class="col bg1 rounded  p-2">
            <h3 class="text-warning">Learners 25653</h3>
            <p>Girls 14320</p>
            <p>Boys  11333</p>
        </div>
        <div class="col bg1 rounded  p-2">
            <h3 class="text-center text-success">Staff 520</h3>
            <p>Teachers <span class="text-primary">319</span> </p> 
            <p>None Teaching <span class="text-primary">201</span></p> 
        </div>
        <div class="col bg1 rounded p-2">
            <h3 class="text-center text-info" >Subjects 16</h3>
        </div>
    </div>
</div>
{%endblock%}