{% extends 'partials/base.html' %}
{% block title %}Teacher List{% endblock %}

{% block content %}
<div class="container h-75 mt-5">
  <h2 >Teacher List</h2>
  <div class="scroll-container">
    <div class="row">

      {% for teacher in all_teachers %}
      <div class="col-md-8 mb-4 offset-md-1 bg1 p-1">
        <!-- Unique IDs using teacher.id -->
        <button id="toggleForm-{{ teacher.id }}" class="btn" >{{ teacher.teacher }}</button>
        <div id="captureForm-{{ teacher.id }}" style="display:none; margin-top: 20px;" class="p-3">
          <h5><strong>Name : </strong><span class="text-secondary">{{ teacher.teacher }}</span></h5>
          <p><strong>Assigned School : </strong><span class="text-secondary">{{ teacher.assigned_school }}</span></p>
          <p><strong>Assigned Class : </strong><span class="text-secondary">{{ teacher.assigned_class }}</span></p>
          <p><strong>Contact Number : </strong><span class="text-secondary">{{ teacher.contact_number }}</span></p>
          <p><strong>Email : </strong><span class="text-secondary">{{ teacher.teacher.email }}</span></p>
          <p><strong>My Classes : </strong><span class="text-secondary"></span></p>
          
            {% for classes in teacher.classes_taught.all %}
          <span class="badge bg3"> {{ classes }}</span>  </span> 
            {% endfor %}
         
          <p><strong>Base Subjects:</strong> <span class="text-secondary">{{ teacher.base_subject }}</span></p>
          <p><strong>subjects_taught : </strong></p>
          <div class="card p-2">
            {% for subjects_taught in teacher.subjects_taught.all %}
            {{ subjects_taught }}
            {% endfor %}
          </div>
          <hr>
          <div class="d-grid">
            <a href="{% url 'update_teacher_profile' teacher.pk %}">
            <button class="btn bg3 text-white">Update Profile</button>
          </a>
          </div>
          
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('[id^="toggleForm-"]').forEach(function(button) {
    button.addEventListener("click", function() {
      var id = this.id.split('-')[1];
      var form = document.getElementById("captureForm-" + id);
      if (form.style.display === "none") {
        form.style.display = "block";
      } else {
        form.style.display = "none";
      }
    });
  });

  // JavaScript to update the capture_id hidden input
  const captureRadioButtons = document.querySelectorAll('input[name="capture_id"]');
  captureRadioButtons.forEach(button => {
    button.addEventListener('change', function() {
      document.getElementById('capture_id').value = this.value;
    });
  });
</script>
{% endblock %}
