{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block content%}
<div class="row m-4  ">
    <div class="col-md-8 offset-md-1 bg1 p-2 shado">
      <h1 class=" text-center">Update Teacher Profile</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group m-2">
                <h5>Contact Number:</h5>
                {{ form.contact_number }}
            </div>
            <div class="d-flex">
              
            <div class="form-group m-2">
                <h5 >assigned_class:</h5>
                {{ form.assigned_class }}
            </div>
            </div>
           
            <div class="row justify-content-center">
                <div class="col-md">
                  <div class="form-group  p-3 flex-wrap align-items-center gap-2 m-2 bg1 ">
                    <h5 >Classes Taught:</h5>
                    <div class="col-md d-flex flex-wrap ">
                        {% for checkbox in form.classes_taught %}
                        <div class="form-check p-3 ">
                            {{ checkbox }} Grade
                        </div>
                        {% endfor %}
                     </div>
                   </div>
                </div>
              </div>
            <div class="form-group m-2 ">
                <h5 >Base Subject:</h5>
                {{ form.base_subject }}
            </div>
            <div class="form-group m-2 bg1 p-3">
                <h5>Subjects Taught:</h5><br>
                <div class="col-md d-flex flex-wrap   rounded">
                {% for checkbox in form.subjects_taught %}
                &nbsp;&nbsp; <div class="form-check">
                    &nbsp;&nbsp;{{ checkbox }}
                       
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn bg3 text-white">Update</button>
            </div>
            
        </form>
   </div>
</div>
    
{% endblock %}