{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

<title>Create User</title>

{% block content %}
<div class="container vh-110 ">
    <div class="col-md-8 p-3 rounded">
        <h3 class="text-primary">Create School Head Profile</h3>
        <form method="post">
            {% csrf_token %}
            {{ user_form|crispy }}
            <hr>
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Create User</button>
        </form>
    </div>
</div>
  
{% endblock %}