
.pirata {
    text-shadow: 3px 3px 5px rgba(24, 90, 141, 0.7); /* Adjusted values for a clear shadow effect */
    font-family: 'Pirata One', system-ui, sans-serif; 
    font-weight: 500;
    font-style: normal;
    


  }
  .footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
.section{
    width: 100%;
    margin-left: 120px;
   
}
.section1{
    width: 100%;
    
}
.form-check-inline {
    display: inline-block;
    margin-right: 10px;
}
.scroll-container {
    max-height: 80vh; /* Control the height */
    overflow-y: auto; /* Ensure vertical scrolling */
}
.bg1{
    background-color: rgba(231, 231, 235, 0.952);
}
.bg2{
    background-color: rgba(201, 146, 226, 0.89);
}
.bg3{
    background-color: #011353;
}
.bg-G{
    background-color: #011353;;
    color:rgba(196, 120, 7, 0.836) ;
}
.block{
    display: grid;
    align-items: center;
}
.nav{
    display: inline-block;
}

.shado {
    box-shadow: 10px 10px 5px rgba(89, 89, 90, 0.507); 
}
.accounts-base{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ----------------------------------------------------------------------------------------- */

.signout-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}
.signout-container h1 {
    color: #333;
    margin-bottom: 20px;
}
.signout-container p {
    color: #666;
    margin-bottom: 30px;
}
.signout-container button {
    background-color: #135539;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.signout-container button:hover {
    background-color: #0056b3;
}

/* -----------------------------------------------------------------------------------------
