
.pirata {
    text-shadow: 3px 3px 5px rgba(24, 90, 141, 0.7); /* Adjusted values for a clear shadow effect */
    font-family: 'Pirata One', system-ui, sans-serif; 
    font-weight: 500;
    font-style: normal;
    


  }
  .footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
.section{
    width: 100%;
    margin-left: 120px;
   
}
.section1{
    width: 100%;
    
}
.form-check-inline {
    display: inline-block;
    margin-right: 10px;
}
.scroll-container {
    max-height: 80vh; /* Control the height */
    overflow-y: auto; /* Ensure vertical scrolling */
}
.bg1{
    background-color: rgba(143, 143, 141, 0.336);
}
.bg2{
    background-color: rgba(201, 146, 226, 0.89);
}
.bg3{
    background-color: #011353;
}
.block{
    display: grid;
    align-items: center;
}
nav{
    display: inline-block;
}

.shado {
    box-shadow: 10px 10px 5px rgba(89, 89, 90, 0.507); /* red shadow */
}
