{% extends 'partials/teacher-base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container offset-2 mt-2 scroll-container shado p-3 bg1">
  <div >
      <h2 class="text-info bg-secondary rounded p-2">Select or Create Capture for <span class="text-light">{{ subject }}</span> </h2>
      <h3 class="text-primary">Existing Captures</h3>
      <ul>
          {% for capture_dict in captures_with_status %}
          <li>
              <form method="post" action="{% url 'capture' subject.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="capture_id" value="{{ capture_dict.capture.id }}">
                  <button type="submit" class="btn " >
                      <strong>Type:</strong> {{ capture_dict.capture.test_type }} 
                      <strong>Topic:</strong> {{ capture_dict.capture.topic }}
                      <strong>Status:</strong> 
                      {% if capture_dict.is_done %}
                      <span class="badge rounded-pill bg-info">Completed</span>
                      {% else %}
                      <span class="badge rounded-pill bg-warning">In Progress</span>
                      {% endif %}
                  </button> 
              </form><br>
          </li>
          {% endfor %}
      </ul>
  </div>
  
  <button id="toggleForm" class="btn btn-secondary">Create New Capture</button>

  <div id="captureForm" style="display:none; margin-top: 20px;">
      <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
  
  <script>
      document.getElementById("toggleForm").addEventListener("click", function() {
          var form = document.getElementById("captureForm");
          if (form.style.display === "none") {
              form.style.display = "block";
          } else {
              form.style.display = "none";
          }
      });
  </script>
</div>
{% endblock %}