{% extends 'partials/teacher-base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container offset-2 mt-4 scroll-container shado p-2 border">
  <div >
      <h2 class="text-dark bg-secondary p-2">Select or Create Capture for <span class="text-light">{{ subject }}</span> </h2>
      <h6 class="text-primary">Existing Captures</h6>
      <div class="scroll-container bg1 p-2 mb-2" style="height: 200px;">
        <ul >
          {% for capture_dict in captures_with_status %}
          <li>
              <form method="post" action="{% url 'capture' subject.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="capture_id" value="{{ capture_dict.capture.id }}">
                  <button type="submit" class="btn " >
                      <strong>Type:</strong> {{ capture_dict.capture.test_type }} 
                      <strong>Topic:</strong> {{ capture_dict.capture.topic }}
                      <strong>Status:</strong> 
                      {% if capture_dict.is_done %}
                      <span class="badge rounded-pill bg-info">Completed</span>
                      {% else %}
                      <span class="badge rounded-pill bg-warning">In Progress</span>
                      {% endif %}
                  </button> 
              </form><br>
          </li>
          {% endfor %}
      </ul>
      </div>
      
  </div>
  
  <button id="toggleForm" class="btn btn-secondary">Create New Capture</button>

  <div id="captureForm" style="display:none; margin-top: 20px;">
      <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-grid">
            <button type="submit" class="btn btn-dark ">Submit Created Capture</button>  
          </div>
         
      </form>
  </div>
  
  <script>
      document.getElementById("toggleForm").addEventListener("click", function() {
          var form = document.getElementById("captureForm");
          if (form.style.display === "none") {
              form.style.display = "block";
          } else {
              form.style.display = "none";
          }
      });
  </script>
</div>
{% endblock %}