{% extends 'partials/teacher-base.html' %}
{% load crispy_forms_tags %}

{% block content %}
 <div class="row d-flex  mt-5">
    <div class="col-md-6 border p-3 mt-5 offset-3 rounded shado">
        <form method="post">
            {% csrf_token %}
            <!-- Display student full names for confirmation -->
            <h2>Edit Capture Details {{classroom}}</h2>
            
                         <h4 class="text-center text-success">{{subject}}</h4> 
            {% for student in students %}
                <h3>{{ student.student.get_full_name }}</h3>
                <label for="grade">Grade:</label>
                <input type="text" name="grade_{{ student.id }}" id="grade_{{ student.id }}" required>
                <br><br>
            {% endfor %}
            {{form|crispy}}
            <div class="d-grid">
                 <button type="submit" class="btn btn-dark">Edit Capture Details</button>
            </div>
        </form>
    </div>
 </div>
{% endblock %}
