{% extends 'partials/base.html' %}


{% block content %}


<div class="container mt-5">
      <div class="col-8 rounded p-5 shadow-sm">
          <div class="col-md bg1 p-2 rounded">
              <h3 class="text-center text-white mb-3">Subjects</h3>
              {% for subject in all_subject %}
              <a class="text-white text-decoration-none d-block bg1 m-1 text-center p-2 rounded btn btn-info" href="{% url 'capture' subject.id %}">{{ subject }}</a>
              {% endfor %}
          </div>
      </div>
  </div>


{% endblock %}
