{% extends 'partials/teacher-base.html' %}

{% block content %}
  <div class="container offset-md-2 mt-5">
    <div class=" bg1 p-3 mb-3">
      <h1 >Student Report</h1>
      <h4 class="text-primary">Student: <span class="text-info">{{student}}</span> </h4>
    </div>
    <table class="table">
        <thead  class="table-dark">
            <tr>
                <th>Subject</th>
                <th>Average Grade</th>
                <th>Category</th>
                <th>yes</th>
            </tr>
        </thead>
        {% for subject, data in subject_data.items %}
        <tr>
            <td>{{ subject }}</td>
            <td>
                {% if data.average_grade %}
                    {{ data.average_grade }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if data.category %}
                    {{ data.category }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <th>
                <a href="#"><></a>
            </th>
        </tr>
    {% endfor %}
</tbody>
    </table>
  </div>
{% endblock %}
