{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="section1 mt-5 offset-1 d-flex gap-2">
  <div class="col-md-6 border p-5 shado">
  <h2 >  Class Name</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex">
          <button type="submit" class="btn btn-dark">Save and make another Grade</button>&nbsp;&nbsp;
          <br>
          <a href="{% url 'setup_step7' %}"class="btn btn-dark ">done</a>

        </div>
        
    </form>
  </div>
    <div class="col-3 bg1 p-4">
      
       {% for class in allclasses%}
      <li>{{class}}</li>
      {% endfor%}
    </div>
    
    
  </div>
</div>
{% endblock %}
