{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 ">
    <div class="col-md-8 offset-md-2 bg1 p-5 shado">
        <h3>School Subject Form</h3>
        
       <form method="post">
        {% csrf_token %}
        <div class="col-md d-flex flex-wrap ">
            
            {% for checkbox in form.school_subjects %}
            &nbsp;&nbsp; <div class="form-check">
                &nbsp;&nbsp;{{ checkbox }}
                   
                </div>
            {% endfor %}
            </div>
         <div class="d-grid">
             <button type="submit" class="btn bg3 text-white">School Subject (next step 3)</button>
         </div>
           
        </form>
    </div>
</div>


    

  
{% endblock %}